<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test03</display-name>
  <servlet>
    <servlet-name>EmployeeServLet</servlet-name>
    <servlet-class>ServLet.EmployeeServLet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServLet</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartmentServLet</servlet-name>
    <servlet-class>ServLet.DepartmentServLet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServLet</servlet-name>
    <url-pattern>/dep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjectServLet</servlet-name>
    <servlet-class>ServLet.ProjectServLet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServLet</servlet-name>
    <url-pattern>/pro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServLet</servlet-name>
    <servlet-class>ServLet.IndexServLet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServLet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoreServLet</servlet-name>
    <servlet-class>ServLet.ScoreServLet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreServLet</servlet-name>
    <url-pattern>/score</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/index</url-pattern>
    <url-pattern>/emp</url-pattern>
    <url-pattern>/dep</url-pattern>
    <url-pattern>/score</url-pattern>
    <url-pattern>/pro</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <listener>
    <listener-class>listener.CountListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>